body {
  margin: 0;
  background:#4e6878ac;
  font-family: 'Times New Roman', Times, serif;
}

.container{
  width:100%;
  text-align:center;
  justify-content: center;
  margin: auto;
  overflow:hidden;
}

.better-stat{
  background-color: rgba(0, 128, 0, 0.768);
}
.worst-stat{
  background-color: rgba(255, 0, 0, 0.436);
}
.equal-stat{
  background-color:rgba(255, 255, 255, 0.481);
}

/* LAYOUT PAGE */
nav ul li a{ 
  text-transform: none;
  font: small-caps 800 20px 'Arial Narrow Bold', 'Trebuchet MS', sans-serif;
  letter-spacing: 1px;
}

header{
  background: #4e6878da;
  padding-top:10px;
  min-height:70px;
  border-bottom:rgba(0, 0, 0, 0.351) 3px solid;
  padding-left: 20px;
}

.webname{
  display: flex;
  align-items: center;
  /* padding-top: 10px; */
}
#nba-logo{
  width: 70px;
  margin-right: 10px;
}
.title{
  /* margin-top: 1px; */
  height: 60px;
  text-transform: none;
  font: 800 40px "Nunito",sans-serif;
  -webkit-text-stroke: 0.5px white;
}

.blue-highlight{
  color: #006BB7;
}
.red-highlight{
  color: #ED174B;
}
.white-highlight{
  color: rgba(255, 255, 255, 0.347);
}
.black-highlight{
  color: black;
  font-size: 25px;
  visibility: hidden;
}

header li a:hover{
  color: #ED174B;
}

header a{
  text-decoration:none;
  text-transform:uppercase;
  color:black;
}

header ul{
  margin:0;
  padding:0;
  padding-right: 14px;
}

header li{
  float:left;
  display:inline;
  padding-left: 16px;
  font-weight:bold;
}

header .webname{
  float:left;
  margin:0;
  position: relative;
}

header nav{
  float:right;
  margin-top: 25px;
}



/* HOME PAGE */
#message{
  margin: auto;
  width: 95%;
}
  
  /* PLAYER SEARCH AREAS */
.player-dropdowns{
  width:100%;
  overflow:hidden;
}

#season-1, #season-2, #search-button, #search-bar-1, #search-bar-2{
  padding: 5px;
  background: #e7e7e7;
  border: 2px black solid;
  font-size: 16px;
  border-radius: 10px;
  margin: 0 10px;  
  font-weight: normal;
}

#season-1, #season-2{
  width: 40px;
  text-align: center;
  margin-left: 15px;
}

#season-1::placeholder, #season-2::placeholder{
  font-size: 15px;
}

#search-bar-1, #search-bar-2 {
  margin: 0 10px;  
}






.search-bar-dropdown {
  display: inline-block;
  width: 200px;
  font-size: 20px;  
  margin: 0 10px 5px 0;
}

#results-1, #results-2 {
  position: absolute;
  width: inherit;
  overflow-y: scroll;
  height: 10em;
  padding-left: 0px;
  margin-top: 1px;
  border: 0px black solid;
  overflow:auto;
}

#results-1 > button, #results-2 > button {
  background-color: #fafafa;
  border: 1.5px black solid;
  border-radius: 6px;
  text-align: left;
  padding: 5px;
  margin-bottom: 1px;
  font-size: 13px;
  color: black;
}

#results-1 > button:hover, #results-2 > button:hover, #results-1 > button:focus, #results-2 > button:focus {
  background-color: #638498;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #eeeeee;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover{
  background: #555;
}

  /* SEARCH BUTTON */
#search-button{
  cursor: pointer;
  margin-left: auto;
}

#search-button:hover{
  background-color:#e7e7e754;
}

#search-button:active{
  background-color:#006bb772;
  transform: scale(1.05) perspective(1px)
}

  /* PLAYER STATS */
#search-error{
  margin-top: 10px;
}
.player-stats{
  margin: auto;
  width: 100%;
  line-height: 1.6;
  font-size: 1.2em;
  display: flex;
}

#player-1-stats{
  width:50%;
  margin-right: 20px;
  display: flex;
}
#player-1-img{
  width: 50%;
  visibility: hidden;
}
#player-1-info{
  width: 50%;
  text-align: right;
}
#player-1-stats-name, #player-2-stats-name{
  height: 1.5em;
  line-height: 1.5em;
  overflow: hidden
}
#player-2-stats{
  width:50%;
  margin-left: 20px;
  display: flex;
}
#player-2-img{
  width: 50%;
  visibility: hidden;
}
#player-2-info{
  width: 50%;
  text-align: left;
}

#player-1-stats-list, #player-2-stats-list{
  display: inline-block;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#player-1-stats-list li, #player-2-stats-list li{
  list-style: none;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  margin: 5px 0;
}

/* GLOSSARY PAGE */
#glossary{
  width:90%;
  margin: auto;
  overflow:hidden;
  line-height: 2em;
}

#glossary-info{
  margin-top: 30px;
}

#glossary-stats p{
  margin-top: 30px;
  margin-bottom: 0;
}

#glossary ul li{
  list-style: none;
  margin: auto;
}

#glossary ul{
  margin-top: 0;
  padding-left: 0;
}

.bold{
  font-weight: bold;
  font-size: 17px;
}



/* LARGE SIZED WINDOW */
@media screen and (min-width: 1170px) {
  .player-stats img{
    height: 250px; /*120 to 180*/
    max-width: 450px;
    min-width: 350px;
    visibility: visible;
  }
  #player-1-img{
    margin: 100px 0 0 25px;
  }
  #player-2-img{
    margin: 100px 25px 0 0;
  }

}

/* SMALL SIZED WINDOW */
@media screen and (max-width: 570px) {
  /* Hide head to head */
  .webname{
    width: 70px;
    height: 70px;
    padding-top: 0px;
  }
  .title{
    visibility: hidden;
  }
}

/* MEDIUM SIZED WINDOW (MINIMIZED OR PHONE)*/
@media screen and (max-width: 1170px) {
  /* Hide player headshots */
  .player-stats img{
    width: 0px;
    height: 0px;
    margin: 0px;
    visibility: hidden;
  }
  #player-1-info{
    width: 100%;
  }
  #player-1-img{
    width: 0%;
  }
  #player-2-img{
    width: 0%;
  }
  #player-2-info{
    width: 100%;
  }
}  