body {
  margin: 0;
  background:#4e6878ac;
}

.container{
  width:100%;
  text-align:center;
  justify-content: center;
  margin: auto;
  overflow:hidden;
}

.better-stat{
  background-color: rgba(0, 128, 0, 0.768);
}

.worst-stat{
  background-color: rgba(255, 0, 0, 0.436);
}

/* TOP BAR OF THE WEBSITE (HEADER)  */
header{
  background:#4e6878;;
  padding-top:10px;
  min-height:70px;
  border-bottom:green 3px solid;
  padding-left: 20px;
}

header a{
  text-decoration:none;
  text-transform:uppercase;
  font-size:17px;
  color:black;
}

header ul{
  margin:0;
  padding:0;
  padding-right: 12px;
}

header li{
  float:left;
  display:inline;
  padding: 0 0 0 8px;
  font-weight:bold;
}

header .title-highlight, header a:hover{
  color:red;
}

header .webname{
  float:left;
  margin:0;
}

header nav{
  float:right;
  margin-top:30px;
}

#message{
  /* margin: auto;
  text-align: center;
  align-content: center; */
}


/* PLAYER SEARCH AREAS */
.player-dropdowns{
  width:100%;
  overflow:hidden;
}

#season-1, #season-2, #search-button{
  display: inline-block;
  padding: 5px;
  background: #e7e7e7;
  border: 2px black solid;
  font-family: "Nunito",sans-serif;
  font-size: 16px;
  border-radius: 10px;
  margin: 0 10px;  
  width: 80px;
}

.search-bar-dropdown {
  display: inline-block;
  width: 200px;
  font-size: 20px;  
  margin: 0 10px 5px 0;
}

#search-bar-1, #search-bar-2 {
  width: 100%;
  padding: 5px;
  background: #e7e7e7;
  border: 2px black solid;
  font-family: "Nunito",sans-serif;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 10x;
}

#results-1, #results-2 {
  position: absolute;
  width: inherit;
  overflow-y: scroll;
  height: 10em;
  padding-left: 0px;
  margin-top: 1px;
  border: 0px black solid;
  overflow:auto;
}

#results-1 > button, #results-2 > button {
  background-color: #fafafa;
  border: 1.5px black solid;
  border-radius: 6px;
  text-align: left;
  padding: 5px;
  margin-bottom: 1px;
  font-size: 13px;
}

#results-1 > button:hover, #results-2 > button:hover {
  background: rgb(48, 117, 48);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #eeeeee;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* SEARCH BUTTON */
#search-button{
  cursor: pointer;
  margin-left: auto;
}

#search-button:hover{
  background-color:#e7e7e754;
}

#search-button:active{
  background-color:rgba(0, 128, 0, 0.53);
}



/* PLAYER STATS */
.player-stats{
  margin: auto;
  width: 100%;
  line-height: 1.6;
  font-size: 1.2em;
  display: flex;
}

#player-1-stats{
  width:50%;
  margin-right: 20px;
  display: flex;
}
#player-1-img{
  width: 50%;
  visibility: hidden;
}
#player-1-info{
  width: 50%;
  text-align: right;
}

#player-2-stats{
  width:50%;
  margin-left: 20px;
  display: flex;
}
#player-2-img{
  width: 50%;
  visibility: hidden;
}
#player-2-info{
  width: 50%;
  text-align: left;
}

#player-1-stats-list, #player-2-stats-list{
  display: inline-block;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#player-1-stats-list li, #player-2-stats-list li{
  list-style: none;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  margin: 5px 0;
}


/* FOOTER */
footer, #bottom-msg {
  bottom: 0;
  position: fixed;
  text-align: center;
}


/* If the window is big  */
@media screen and (min-width: 1100px) {
  .player-stats img{
    height: 315px;
    max-width: 450px;
    min-width: 410px;
    visibility: visible;
  }
  #player-1-img{
    margin: 100px 0 0 25px;
  }
  #player-2-img{
    margin: 100px 25px 0 0;
  }
}

/* If the window is small  */
@media screen and (max-width: 1100px) {
  .player-stats img{
    width: 0px;
    height: 0px;
    margin: 0px;
    visibility: hidden;
  }
}  